.disabled{
    pointer-events: none;
}
input.skin-color{
    height: 38px
}
*{
    transition: 500ms;
}
.capitalize{
    text-transform: capitalize;
}

.modal-show{
    opacity: 1;
    display: block;
}
div.svg-designer{
    position: absolute;
    margin-left: 260px;
}

img {
    z-index: 1;
    position: absolute;
    opacity: 70%;
}
svg {
    opacity: 100%;
    border-color: black;
    border-width: 3px;
    position: absolute;
    z-index: 2;
}

path{
    stroke: #ff0000;
    stroke-width: 3px;
    fill: none;
}path:nth-child(9n-1){
    stroke: #ff0800 ;
}path:nth-child(9n-2){
    stroke: #ffd000 ;
}path:nth-child(9n-3){
    stroke: #e5ff00 ;
}path:nth-child(9n-4){
    stroke: #51ff00 ;
}path:nth-child(9n-5){
    stroke: #00fff2 ;
}path:nth-child(9n-6){
    stroke: #0084ff ;
}path:nth-child(9n-7){
    stroke: #d400ff ;
}path:nth-child(9n-8){
    stroke: #ff0077 ;
}

.key-active{
    background-color: #8bbeed;
}
.dropdown-menu{
    overflow-y: auto;
    max-height: 200px;
    
}
/* .dropdown-menu::-webkit-scrollbar {
    display: none;
} */